data/vector_store/*.pkl filter=lfs diff=lfs merge=lfs -text
data/vector_store/*.faiss filter=lfs diff=lfs merge=lfs -text
data/vector_store/chunks_metadata.json filter=lfs diff=lfs merge=lfs -text
data/vector_store/*.json filter=lfs diff=lfs merge=lfs -text
